<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sensor Emulator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/emulator.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/index.js"></script>
</head>

<body>
    <div id="row_things" style="display: flex">
        <div class="thing" id="robot_gripper">
            <h1 style="text-align:center">Robot gripper</h1>
            <div class="sensors">
                <div class="sensor" id="temp">
                    <div class="input-box">
                        <label>t1</label>
                        <input type="text" id="t1_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t2</label>
                        <input type="text" id="t2_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t3</label>
                        <input type="text" id="t3_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t4</label>
                        <input type="text" id="t4_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t5</label>
                        <input type="text" id="t5_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t6</label>
                        <input type="text" id="t6_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>n</label>
                        <input type="text" id="n_1" placeholder="n" disabled="disabled">
                    </div>
                </div>
                <div class="sensor" id="load">
                    <div class="input-box">
                        <label>l1</label>
                        <input type="text" id="l1_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l2</label>
                        <input type="text" id="l2_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l3</label>
                        <input type="text" id="l3_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l4</label>
                        <input type="text" id="l4_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l5</label>
                        <input type="text" id="l5_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l6</label>
                        <input type="text" id="l6_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>s</label>
                        <input type="text" id="s_1" placeholder="s" disabled="disabled">
                    </div>
                </div>
                <div class="sensor" id="motor">
                    <div class="input-box">
                        <label>m1</label>
                        <input type="text" id="m1_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m2</label>
                        <input type="text" id="m2_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m3</label>
                        <input type="text" id="m3_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m4</label>
                        <input type="text" id="m4_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m5</label>
                        <input type="text" id="m5_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m6</label>
                        <input type="text" id="m6_1" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>c</label>
                        <input type="text" id="c_1" placeholder="c" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>

        <div class="thing" id="robot_vacuum">
            <h1 style="text-align:center">Robot vacuum</h1>
            <div class="sensors">
                <div class="sensor">
                    <div class="input-box">
                        <label>t1</label>
                        <input type="text" id="t1_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t2</label>
                        <input type="text" id="t2_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t3</label>
                        <input type="text" id="t3_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t4</label>
                        <input type="text" id="t4_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t5</label>
                        <input type="text" id="t5_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>t6</label>
                        <input type="text" id="t6_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>n</label>
                        <input type="text" id="n_2" placeholder="n" disabled="disabled">
                    </div>
                </div>
                <div class="sensor">
                    <div class="input-box">
                        <label>l1</label>
                        <input type="text" id="l1_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l2</label>
                        <input type="text" id="l2_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l3</label>
                        <input type="text" id="l3_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l4</label>
                        <input type="text" id="l4_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l5</label>
                        <input type="text" id="l5_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>l6</label>
                        <input type="text" id="l6_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>s</label>
                        <input type="text" id="s_2" placeholder="s" disabled="disabled">
                    </div>
                </div>
                <div class="sensor">
                    <div class="input-box">
                        <label>m1</label>
                        <input type="text" id="m1_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m2</label>
                        <input type="text" id="m2_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m3</label>
                        <input type="text" id="m3_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m4</label>
                        <input type="text" id="m4_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m5</label>
                        <input type="text" id="m5_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>m6</label>
                        <input type="text" id="m6_2" placeholder="C" disabled="disabled">
                    </div>
                    <div class="input-box">
                        <label>c</label>
                        <input type="text" id="c_2" placeholder="c" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="thing" id="traffic_light">
        <h1 style="text-align:center">Traffic light</h1>
        <div id="Traffic_lights">
            <div class="colors">
                <div class="color_container">
                    <div class="color" id="traffic_blue"></div>
                </div>
                <div class="color_container">
                    <div class="color" id="traffic_red"></div>
                </div>
                <div class="color_container">
                    <div class="color" id="traffic_yellow"></div>
                </div>
                <div class="color_container">
                    <div class="color" id="traffic_green"></div>
                </div>
            </div>
        </div>
        <div class="control-buttons">
            <h3>Control Lights:</h3>
            <div>
                <button onclick="controlTrafficLight(1, 1)">Blue On</button>
                <button onclick="controlTrafficLight(1, 0)">Blue Off</button>
            </div>
            <div>
                <button onclick="controlTrafficLight(2, 1)">Red On</button>
                <button onclick="controlTrafficLight(2, 0)">Red Off</button>
            </div>
            <div>
                <button onclick="controlTrafficLight(3, 1)">Yellow On</button>
                <button onclick="controlTrafficLight(3, 0)">Yellow Off</button>
            </div>
            <div>
                <button onclick="controlTrafficLight(4, 1)">Green On</button>
                <button onclick="controlTrafficLight(4, 0)">Green Off</button>
            </div>
        </div>
    </div>

    <br>

    <div class="thing" id="barcode_scanner">
        <h1 style="text-align:center">Barcode scanner</h1>
        <div class="sensors">
            <div class="sensor">
                <div class="input-box">
                    <label>Last Code</label>
                    <input type="text" id="lastCode_4" placeholder="Barcode" disabled="disabled" style="width: 150px">
                </div>
                <div class="input-box">
                    <label>Status</label>
                    <input type="text" id="scanStatus_4" placeholder="Scanning/Idle" disabled="disabled">
                </div>
            </div>
        </div>
        <div class="control-buttons">
            <button onclick="controlBarcodeScanner(1)">Start Scan</button>
        </div>
    </div>

    <br>

    <div class="thing" id="control_panel">
        <h1 style="text-align:center">Control panel</h1>
        <div class="sensors">
            <!-- Existing sensor displays remain the same -->
            <div class="sensor">
                <!-- ... existing switch mode and buttons inputs ... -->
            </div>

            <!-- Lamp controls section -->
            <div class="sensor">
                <h3>Lamps Control</h3>
                <div class="lamp-controls">
                    <label>
                        Lamp 1:
                        <input type="checkbox" id="lamp1_control" onchange="controlPanelLamp(1, this.checked)">
                        <span id="lamp1_state">0</span>
                    </label>
                    <label>
                        Lamp 2:
                        <input type="checkbox" id="lamp2_control" onchange="controlPanelLamp(2, this.checked)">
                        <span id="lamp2_state">0</span>
                    </label>
                    <label>
                        Lamp 3:
                        <input type="checkbox" id="lamp3_control" onchange="controlPanelLamp(3, this.checked)">
                        <span id="lamp3_state">0</span>
                    </label>
                    <label>
                        Lamp 4:
                        <input type="checkbox" id="lamp4_control" onchange="controlPanelLamp(4, this.checked)">
                        <span id="lamp4_state">0</span>
                    </label>
                </div>
            </div>
        </div>

    </div>

</body>

</html>